mixin footer()
  footer.footer.container
    .footer__copyright.copyright
      a.copyright__link.copyright__link--image(href='#')
        img.copyright__logo(src='img/svg/htmla-logo.svg' width='130' height='45' alt='HTML Academy')
      p
        | Сделано в
        a.copyright__link.copyright__link--text(href='#')  HTMLAcademy
        |  © 2018
    ul.footer__contacts.contacts
      li
        a.contacts__link.contacts__link--twitter(href='https://twitter.com/') Twitter
      li
        a.contacts__link.contacts__link--instagram(href='https://www.instagram.com/') Instagtam
      li
        a.contacts__link.contacts__link--facebook(href='https://www.facebook.com/') Facebook
      li
        a.contacts__link.contacts__link--vk(href='https://vk.com/') VK

